.container {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(35, 158, 158);
    display: flex;
    flex-direction: column;
  }

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.inputTitle {
  color: white;
  display: flex;
  flex-direction: row;
}

.inputTitle > h2 {
  width: 220px;
}

.inputTitle > h2:nth-child(2) {
  width: 240px;
}

.title > div {
  width: 90vw;
  height: 10px;
  background-color: white;
  border-radius: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
  background-color: rgb(35, 158, 158);
}

.content > section {
  color: white
}

.add {
  margin-top: 20px;
  width: fit-content;
}

.devices-list {
  list-style-type: none;
  padding: 0;
}

.deviceRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.deviceInput {
  width: 200px;
  height: 30px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.deleteButton:hover {
  color: red;
}

.deleteButton svg {
  width: 18px;
  height: 18px;
}

.playingSong{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader > h2 {
  margin-top: 0;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 3vw;
}

.error {
  margin-top: 3vh;
  color: rgb(130, 27, 27);
}

input[type="datetime-local"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.plotMidi {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.envelope_sliders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slider_container {
  width: 150px;
  text-align: center;
  padding: 10px;
  color: white;
}

.slider_label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="range"] {
  width: 100%;
}



/* Agrega estas reglas CSS en tu archivo de estilos (por ejemplo, App.css) */
.select_container {
  position: relative;
  width: 200px; /* Ajusta el ancho según tus necesidades */
  margin: 10px;
}

.select_container select {
  /* appearance: none; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f5f5f5;
  color: #333;
  cursor: pointer;
  outline: none;
}

.select_container select:hover {
  background: #e0e0e0;
}

.select_container select:active, .select-container select:focus {
  background: #ffffff;
  border-color: #007BFF;
}

.select_arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.dateContainer {
  display: flex;
  flex-direction: column;
}

.label {
  color:white;
}